/* CSS File : styles.css */

/* set the background color of the body to light green */
body {
  background-color: lightgreen;
  font-family: Arial, sans-serif;
  text-align: center;
}
/* styling for button */
button{
  padding: 10px 20px;
  background-color: lightbrown;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
}
/* styling for time and weather*/
#time, #weather{
  font-size: 25px;
  margin-top: 20px;
  color:lightbrown;
}
#weather {
  float:left;
  margin-left:20px;
}
